.DS_Store
.idea/
.*

build/
build*.d/
xcuserdata/
project.xcworkspace/
*.o
*.a
*.ir
*.ir-*
*~.*
*.exe
*.exe.debug
*.dSYM/
*.debug
*.bak
*.old
tmp.*

main

CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile
src/mulle_objc_rsa_md5.c
src/mulle_objc_rsa_md5.h
optimize-fail.s

/.bootstrap.auto/
/.bootstrap.local/
/.repos/
/addictions/
/dependencies/

/bin/mulle-homebrew
/mulle-configuration
/tests/mulle-tests
/tests/include/
/tests/lib/
tests/c/struct/call
tests/demo/demo1
tests/demo/demo2
tests/hash/fnv1/fnv1
tests/kvc/kvc
tests/methods/inheritance/inheritance
tests/punish/punish
/research/

/.bootstrap.auto

/.bootstrap.local

/dependencies

/addictions

/.repos
bin/tap-info.sh
tap-info.sh
/.bootstrap.repos
/stashes
