.DS_Store
.idea/
.*

build/
build*.d/
xcuserdata/
project.xcworkspace/
*.o
*.a
*.ir
*.ir-*
*~.*
*.exe
*.exe.debug
*.dSYM/
*.debug
*.bak
*.old
tmp.*

/.bootstrap.auto
/.bootstrap.local
/.bootstrap.repos
/.repos
/addictions
/dependencies
/mulle-configuration
/research/
/stashes
optimize-fail.s
src/mulle_objc_rsa_md5.c
src/mulle_objc_rsa_md5.h


# ignore all tests artefacts
tests/
!*.h
!*.m
!*.aam
!*.stdout
!*.stderr
!*.ccdiag
!CMakeLists.txt
!*.sh
/tests/mulle-tests
/tests/build
/tests/lib
/tests/include
