{
   project =
   {
      description="⏩ A fast, portable Objective-C runtime written 100% in C11";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-objc-runtime";
      user="mulle-objc";
      repo="mulle-objc-runtime";
      homepage="https://github.com/mulle-objc/mulle-objc-runtime";
      license="BSD-3-Clause";
      version="0.27.0";
   };
   dependencies =
   (
      {
         description="🌋 Almagamated library of mulle-core + mulle-concurrent + mulle-c";
         domain="github";
         name="mulle-core";
         repo="mulle-core";
         url="https://github.com/mulle-core/mulle-core";
         user="mulle-core";
      },
      {
         description="🛸 mulle-core-all-load does something";
         domain="github";
         name="mulle-core-all-load";
         repo="mulle-core-all-load";
         url="https://github.com/mulle-core/mulle-core-all-load";
         user="mulle-core";
      }
   );
}
